@import "colores";
@import "header";
@import "main";
@import "footer";
@import "form";
@import "somos";
@import "terrenos";

/* BODY */
body {
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}